body #root>div {
	background-color: white;
	background-image: -webkit-repeating-radial-gradient(top center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 0, transparent 100%);
}

.edge {
	stroke: #2f2f2f;
	stroke-dasharray: 5;
	animation: dashdraw .5s linear infinite;
	stroke-width: 1;
}

text {
	fill: #fff !important;
}

@keyframes dashdraw {
	0% {
		stroke-dashoffset: 10;
	}
}